.slider-bg-color{
background-color: rgb(255, 202, 28);
}

nav li a:hover{
    color: white;
background-image: linear-gradient(orangered, rgb(255, 153, 70));
border-radius: 5px;


}



.carousel-inner button:hover{
    background: orangered;

}


/*---------------------
     cards-button 
----------------------*/

.crads-btn button:hover{
background-color: orangered;
}

/*--------------------------
         why choose us  
----------------------------*/
.why-us{
width: 300px;
height: 250px;
border-radius: 5px;

}
.why-us img{
    width: 65px;
    height: 65px;
}












/*------------------------ footer-bottom-section 
-------------------------*/

.footer-top-section{
    display: block;
    padding-top: 35px;
    padding-right: 0px;
    padding-bottom: 200px;
    padding-left: 0px;
    position: relative;
    margin-bottom: 10px;
    
    
}


.footer-bg-main{
    width: 100%;
    height: 400px;
    
}
.footer-bg{
    position: absolute;
    bottom: 0;
    background-image: url(/images/footer/fotter-bg.png);
    width: 100%;
    height: 266px;
    z-index: -1;
    overflow: hidden;
}

.footer-one{
    background-image: url(/images/footer/Cyclist_94.29.3a0b2ba.gif);
 background-repeat: no-repeat;
  width: 88px;
 height: 100px;
 background-size:100%;
 bottom: 0;
left:33%;
 position: absolute;
 
animation-name: ani-move;
animation-duration: 20s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}


@keyframes ani-move {
    0%{
        left: 0
    }

    100%{
        left: 100%;
    }

}

.footer-two{
background-image: url(/images/footer/volks.4184b68.gif);
background-repeat: no-repeat;
background-size: 100%;
width: 330px;
height: 105px;
bottom: 0;
left: 33%;
position: absolute;
padding-bottom: 127px;

animation-name: ani-move-two;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes ani-move-two {
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
    }
}